.container{
    display: flex;
    flex-direction: column;
    border-bottom: 20px solid rgb(213, 210, 210);
}
.usersection {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 0.75rem;
    text-align: left;
}
.name {
    font-weight: bold;
}
.postimg{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
}
.avatar {
width: 30px;
height: auto;
    
}
.avatar > img {
    width: 100%;
    border-radius: 50%;
}
button{
    background: none;
    border: none;
}
button > img {
    width: 30px;
    height: auto;
    background-color: none;
}
.icons{
    padding: 10px 10px 5px;
    display: flex;
    gap: 10px;
}
.bottomSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 10px 10px;
    line-height: 1.5rem;
    text-align: start;
}

.bottomSection p{
    font-weight: bold;
}
span{
    font-weight: 400;
}
button:hover {
    transform: scale(1.1);

}

.containerLast {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    /* no border-bottom */
}
