#root {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 32, 57);
}

.container {
    width: 375px;
    max-width: 800px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid white;
}